.mobile-menu {
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.mobile-menu.max-h-0 {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
}

.mobile-menu.max-h-screen {
    max-height: 100vh; 
    padding-top: 8px;
    padding-bottom: 8px; 
    margin-top: 1px; 
    margin-bottom: -8px;
    opacity: 1;
}

.mobile-menu {
    transition-property: height, opacity;
  }
  
  .mobile-menu.h-0 {
    opacity: 0;
  }
  
  .mobile-menu.h-auto {
    opacity: 1;
  }

  .header{
    box-shadow: 1px 2px 1000px rgba(0, 0, 0, 55%);
  }