.icon-container{
    font-size: 0.7rem;
}

.proj-image-container {
    margin: 2%; 
    display: grid; 
    justify-items: flex-start; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    grid-gap: 15px;
  }
  
  .project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.project-name{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .icon-container {
    background-color: #0077FF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
  .fa-icon {
    font-size: 2em;
    margin-right: 8px;
  }
  
  .project-details {
    padding: 16px;
  }
  
  h3 {
    margin-bottom: 8px;
  }
  
  .technologies,
  .date,
  .description {
    margin-bottom: 8px;
  }
  .technology {
    display: inline-block;
    margin-right: 8px;
    background-color: #0077FF;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin:2px;
    color:#fff;
  }
  
  .technologies {
    overflow: hidden;
    text-wrap: nowrap;
    text-wrap:pretty;
  }
  
  
  @keyframes carousel {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .technologies {
    animation: carousel 8s linear infinite;
  }
  
  .technologies:hover, .technologies-wrapper:hover .technologies {
    animation-play-state: paused;
  }