.image-container {
    margin: 2%; 
    display: grid; 
    justify-items: flex-start; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 15px;
  }
  
  .certificate {
    margin: 0;
    position: relative;
  }
  
  .certificate img {
    width: 100%;
    height: auto;
  }


/* Styling the label */
.label-sort {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Styling the select dropdown */
  .select-sort {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    /* Dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* Style for dropdown options */
  .select-sort option {
    background-color: #fff;
    color: #333;
  }
  
  /* Hover effect for dropdown options */
  .select-sort option:hover {
    background-color: #f0f0f0;
  }
  
  .searchbar{
    padding: 8px;
    font-size: 1.2rem;
  }

  .searchbar input[type="text"]{
    padding-top: 10px;
    border-bottom: 1px solid transparent; 
    transition: border-bottom 1s;
  }

  .searchbar input[type="text"]:focus{
    outline: none;
    border:none;
    transition: border-bottom 1s;
    border-bottom: 1px solid #d1d1d1; 
  }

  .certificate-settings{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
  }

  .certificate-overlay-date {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 10px 0 10px 0;
    color: rgb(228, 228, 228); 
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .certificate:hover .certificate-overlay-date {
    display: block;
    visibility:visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .overlay-text{
    display: block;
    position: relative;
  }