.cert-box .card-img-top.certificate {
    transition: transform 0.3s ease-in-out;
  }
  
  .cert-box .card-img-top.certificate:hover {
    transform: scale(1.05);
  }
  
  .cert-box .card-img-top.certificate:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .cert-box .card-img-top.certificate:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./assets/img/zoom-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  .cert-box .card {
  overflow: hidden;
}
